header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .7);
    z-index: 1000
}

.shobwabe {
    position: relative;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.wrapper {
    z-index: 100;
    background: rgba(0, 0, 0, .7);
    position: absolute
}

section.shobwabe>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    background: 0 0, url(../img/img7.webp), center center cover no-repeat
}

.cont-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, .7)
}

.navheader>li>a:hover {
    background: #ff0;
    padding: 10px;
    display: block;
    transition: 300s ease-in-out
}

.item:hover {
    background: #ffc107 !important;
    border-radius: 5px !important;
    transition: ease 400ms;
}

.showreel {
    background: linear-gradient(to right, hsla(198, 43%, 11%, .753), hsla(198, 44%, 11%, .596)) center/cover no-repeat, url(../img/img7.webp) center/cover no-repeat
}

div.container video {
    border-radius: 20px;
    /* background: linear-gradient(to right, hsla(198, 43%, 11%, .2), hsla(198, 44%, 11%, .2)) center/cover no-repeat, url(../img/img8.webp) center/cover no-repeat */
}
.custom-card {
    position: relative;
    display: flex;
    /* min-width: 0; */
    min-height: 300px;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
}

.cardcoments {
    height: 300px;
}

figure.img-box-content>img,
figure.member-img>img{
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover
}

figcaption {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    /* z-index: 100; */
    background-color: hsl(0, 0%, 0%, 70%);
}

div.cardmember {
    max-width: 250px
}

figure.member-img {
    position: relative;
    height: 280px
}

div.mx-me {
    height: 400px
}

div.member {
    width: 100%;
    background: #fff
}

.modal {
    display: none
}

.showreel-box {
    border-radius: 20px
}

.card-info {
    margin-bottom: 1rem
}

p {
    font: 1em sans-serif
}

section.back {
    /* width: 100%;
    height: 300px; */
    background: hsla(198, 43%, 11%, 0.753), url(../img/img8.webp);
    background: linear-gradient(to right,
            hsla(198, 43%, 11%, 0.753),
            hsla(198, 44%, 11%, 0.596)), url(../img/img8.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.img-about {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-top {
    height: 400px;
}

div.gallery-top > .swiper-wrapper {
    object-fit: cover;
}

@media screen and (max-width: 880px) {
    header { position: fixed; }
}


