{% load static csp sri crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <!--=== Bootstrap core CSS ===-->
    <link href="" rel="icon" />
    {% sri_static "vendor/aos/aos.css" %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% sri_static "vendor/bootstrap-icons/bootstrap-icons.css" %}
    {% sri_static "vendor/glightbox/css/glightbox.min.css"%}
    {% sri_static "vendor/swiper/swiper-bundle.min.css" %}
    {% sri_static "css/custom.css" %}
    {% sri_static "css/jquery-ui.css" %}
    {% if hero_setting %}
    {% for obj in hero_setting %}
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ obj.logo.url }}"
    />
    {% endfor %}
    {% endif %} 
    <!-- ======= Meta ======= -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}
    {% for obj in meta_settings %}
    <title>{{ obj.title }}</title>
    <meta
      name="description"
      content="{{ obj.description_site }}"
    />
    <meta name="keywords" content="{{ obj.keyword }}" />
    <meta name="author" content="" />
    <meta name="copyright" content="{{ obj.copyright_site }}, {{ obj.copyright_url }}" />
    <!--===== Etiquetas Open Graph =====-->
    <meta property="og:type" content="Web site" />
    <meta property="og:locale" content="es_ES" />
    <meta
      property="og:site_name"
      content="{{ site_name }}"
    />
    <meta property="og:description" content="{{ obj.description_site }}" />
    <meta property="og:url" content="{{ canonical_links }}" />
    <meta property="og:title" content="{{ obj.title }}" />
    <meta
      property="og:image"
      content="{{ obj.spotimage }}"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <!--===== Etiquetas Twitter =====-->
    <meta name="twitter:card" content="" />
    <meta name="twitter:description" content="{{ obj.description_site }}" />
    <meta name="twitter:title" content="{{ obj.title }}" />
    <meta name="twitter:site" content="{{ canonical_links }}" />
    <meta name="twitter:image" content="{{ obj.spotimage }}" />
    <meta name="twitter:creator" content="{{ obj.copyright_site }}" />
    {% endfor %}
    {% endblock meta %}
    <link
      rel="canonical"
      href="{{ canonical_links }}"
    />
  </head>

  <body>
    {% block content %}
        {% include "un_cuarto/pages/start.html" %}
    {% endblock content %}
    <!-- ======= Scripts ======= -->
    <script
      nonce="{{request.csp_nonce}}"
      src="{% static 'js/main.js' %}"
    ></script>
    <!-- ======= jQuery ======= -->
    <script
      nonce="{{request.csp_nonce}}"
      src="{% static 'js/jquery-3.3.1.min.js' %}"
    ></script>
    <script
      nonce="{{request.csp_nonce}}"
      src="{% static 'js/jquery-ui.js' %}"
    ></script>
    <!-- ======= Bootstrap ======= -->
    <script
      nonce="{{request.csp_nonce}}"
      src="{% static 'vendor/aos/aos.js'  %}"
    ></script>
    <script nonce="{{request.csp_nonce}}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
    <script
      nonce="{{request.csp_nonce}}"
      src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"
      defer
    ></script>
    <script
      nonce="{{request.csp_nonce}}"
      src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"
      defer
    ></script>
    <script nonce="{{request.csp_nonce}}" defer>
      document.addEventListener("DOMContentLoaded", function () {
        const glightbox = GLightbox({
          selector: '.glightbox'
        });
        const galery = new Swiper(".mySwiper", {
          spaceBetween: 10,
          slidesPerView: 4,
          freeMode: true,
          watchSlidesProgress: true,
        });
        const galery2 = new Swiper(".mySwiper2", {
          spaceBetween: 10,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          thumbs: {
            swiper: galery,
          },
        });
        const swiper = new Swiper(".swiper", {
          spaceBetween: 10,
          loop: false,
          speed: 600,
          loop: true,
          autoplay: {
            delay: 5000,
            disableOnInteraction: false
          },
          pagination: {
            el: ".swiper-pagination",
          },
          loopedSlides: 5, //looped slides should be the same
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          observer: true,
          observeParents: true,
          observeSlideChildren: true,
        });
        AOS.init({ once: false });
      });
    </script>
    <!-- ======= Navbar Movile ======= -->
    <nav
      class="navbar fixed-bottom navbar-dark bg-dark position-fixed"
      tabindex="-2"
      aria-labelledby="NavbarFixedBottom"
      aria-hidden="true"
    >
      <section class="container">
        <div class="navbar-collapse collapse" id="navbarCollapse">
          
          <ul class="navbar-nav text-center">
            <li class="nav-item">
              <a class="nav-link text-warning" aria-current="page" href="{% url 'un_cuarto:start_view' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#portafolio">Portafolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </section>
    </nav>
  </body>
</html>
